# Ignore environment variable file
.env
#Ignore Firebase Private key
vehicle-maintenance-trac-4a63d-firebase-adminsdk-rj4dk-345c5c9b06.json
#/Users/michael/Desktop/Portfolio/vehicle_maintenance_tracker/vehicle-maintenance-trac-4a63d-firebase-adminsdk-rj4dk-345c5c9b06.json
.DS_Store
